a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

nav {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 0 2rem;
  gap: 200px;
  cursor: pointer;
  /* border: 2px solid black; */
  /* box-shadow: 0 0 5px 0px black; */
  overflow: hidden;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2vw;
}

nav ul li a {
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-size: 1.3rem;
  color: blue;
}

.icons {
  display: flex;
  align-items: center;
  gap: 2vw;
}

nav .icons i {
  font-size: 2vw;
}

.menus {
  position: relative;
}

.ham {
  display: none;
}

@media (max-width: 600px) {
  .menus {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #b4abab;
    flex-direction: column;
    /* display: none; */
    /* gap: 20px; */
  }
  .menuopen {
    display: none;
  }
  nav .icons {
    display: none;
  }
  nav .icons i {
    font-size: 4vw;
  }
  .ham {
    display: block;
  }
}

.menuItem {
  width: 300px;
  height: 250px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-direction: column; */
  position: relative;
  text-align: center;
}

.menuItem > i {
  position: absolute;
  top: 0;
  right: 5%;
  font-size: 2rem;
  cursor: pointer;
}

.menuItem h2 {
  text-align: center;
}

.menuItem button {
  display: inline-block;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo img{
  width: 2rem;
}

.logo h2 {
  font-family: "Playfair Display", serif;
}





.menuItem1 {
  width: 300px;
  height: 300px;
}

.cartdiv {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 10px;
  border: 1px solid black;
  margin: 10px 0;
}

.cartimg {
  width: 50%;
  height: 100%;
}

.cartimg img {
  width: 100%;
  height: 100%;
}

.cartcont p {
  margin: 5px 0;
}

.menuItem1 i {
  cursor: pointer;
}

.delseeicon i{
  margin: 0 10px;
  background-color: rgb(255, 0, 255);
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.mainsearchinp{
  width: 18rem;
  height: 2.3rem;
  padding-left: 10px;
  font-size: 1rem;
  outline: none;
  border-radius: 5px;
  border: 2px solid rgb(0, 26, 255);
}

nav input:focus{
  border-color: rgb(0, 132, 255);
}



/* nav  */






/* products */

div > h1 {
  text-align: center;
  margin: 20px 0;
  font-family: "Playfair Display", serif;
}

.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  align-items: center;
  justify-content: space-evenly;
  /* gap: 30px 0px; */
}

.productbox {
  /* width: 300px; */
  /* height: 300px; */
  /* border: 2px solid black; */
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

/* .productbox:hover {
  box-shadow: 0px 0px 1px 0px black;
} */

.productbox div {
  width: 100%;
  height: 280px;
  overflow: hidden;
  margin-bottom: 10px;
  background-color: #dcdadb;
}

.productbox div img {
  width: 100%;
  height: 100%;
  transition: all 2s linear;
  mix-blend-mode: normal;
  /* object-fit: cover; */
}

.productbox div img:hover {
  scale: 1.05;
}

.productbox p {
  margin-top: 10px;
}

.productbox button {
  margin-top: 10px;
}








/* cartdetails */

.cartdetails{
  width: 100%;
  height: 400px;
  margin-top: 20px;
}

.cartdetail{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.detailimg{
  width: 45%;
  border: 2px solid black;
  height: 100%;
}

.detailimg img{
  width: 100%;
  height: 100%;
}

.detailcont{
  width: 45%;
  border: 2px solid black;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.detailcont p:last-child{
  margin: 0 2.5rem;
}

.quantity{
  cursor: pointer;
}

.quantity span:nth-child(2){
  margin: 20px;
}

.quantity span:first-child{
  padding: 10px;
  color: white;
  background-color: black;
}

.quantity span:last-child{
  padding: 10px;
  color: white;
  background-color: black;
}










/* MuiSpeedDial */


.MuiSpeedDial{
  position: fixed;
  bottom: 5%;
  right: 1%;
  z-index: 10;
}